.radical-group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.radical-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 22px;
    align-items: center;
    justify-items: center;
}

.vertical {
    writing-mode: vertical-rl;
}